<footer>
    <div class="container-fluid px-0">
        <div class="row pb-4 justify-content-center px-4 mx-0">
            <a href="#home" class="footer-a_up page-scroll" title="Back To Top">
                <div class="footer-btnTop__style">
                    <i class="icon-arrow-up2 icon-style"></i>
                </div>
            </a>


            <div class="col-12 col-md-4 col-lg-4 text-white text-center text-md-left text-lg-left px-3 px-lg-5">
                <div class="display-table">
                    <h1 class="mt-5 mb-3">WhiteJaguars</h1>
                    <p class="mb-4">
                        Hacemos lo correcto, de la forma correcta
                    </p>
                </div>
            </div>

            <div class="col-12 col-md-4 col-lg-4 text-white text-center text-md-left text-lg-left px-3 px-lg-4">
                <div class="display-table">
                    <h1 class="mt-5 mb-3">Enlaces</h1>
                    <a href="https://www.whitejaguars.com/" class="text-white"
                        aria-label="WhiteJaguars.com">
                        <p class="mb-2">Visite nuestro sitio WhiteJaguars.com</p>
                    </a>
                </div>
            </div>

            <div class="col-12 col-md-4 col-lg-4 text-white text-center text-md-left text-lg-left mx-auto mb-md-0 mb-4">
                <div class="display-table">
                    <h1 class="mt-5 mb-3">Contáctenos</h1>

                    <a href="mailto: info@whitejaguars.com" class="text-white mb-2"
                        aria-label="Enviar correo a correo de informativo de WhiteJaguars">
                        <p><i class="icon-email_icon icon-style mr-3"></i>info@whitejaguars.com</p>
                    </a>
                    <a href="tel:+50625055402" class="text-white mb-2"
                        aria-label="Llamar al número costarricense de WhiteJaguars">
                        <p><i class="icon-phone_icon icon-style mr-3"></i><strong>+(506)</strong> 2505-5402</p>
                    </a>
                    <a href="tel:+17324812777" class="text-white mb-2"
                        aria-label="Llamar al número americano de WhiteJaguars">
                        <p><i class="icon-phonexl_icon icon-style mr-3"></i><strong>+1</strong> 732-481-2777</p>
                    </a>
                </div>
            </div>
        </div>

        <div class="row py-2 footer__color-change justify-content-center mx-0">
            <div class="text-center col-lg-1 col-2 mb-2 mt-4">
                <a href="https://es.linkedin.com/company/whitejaguars"
                    aria-label="Links para ver el linkedin de WhiteJaguars" title="Linkedin" target="_blank"
                    rel="noopener">
                    <i class="icon-linkedinLine_icon icon-style"></i>
                </a>
            </div>
            <div class="text-center col-lg-1 col-2 mb-2 mt-4">
                <a href="https://www.facebook.com/whitejaguars/"
                    aria-label="Links para ver el facebook de WhiteJaguars" title="Facebook" target="_blank"
                    rel="noopener">
                    <i class="icon-facebookLine_icon icon-style"></i>
                </a>
            </div>
            <div class="text-center col-lg-1 col-2 mb-2 mt-4">
                <a href="https://twitter.com/WhiteJaguarsCS" aria-label="Links para ver el twitter de WhiteJaguars"
                    title="Twitter" target="_blank" rel="noopener">
                    <i class="icon-twitterLine_icon icon-style"></i>
                </a>
            </div>

            <div class="col-12 text-center text-white">
                <p class="my-4">WhiteJaguars Inc, Delaware USA</p>
            </div>


        </div>
    </div>
</footer>