<header>
    <nav class="navbar nav-l navbar-expand-lg justify-content-sm-start fixed-top py-2" id="navbar">
        <div class="container-fluid px-lg-5 py-3">


            <a class="navbar-brand order-1 order-lg-0 ml-lg-0 ml-2 mr-auto name-letter text-dark" href="."
                title="Volver al Inicio"><img src="assets/img/logo-blanco.png" width="200px" id="img-nav" alt="Logo WJ"></a>
            <button class="navbar-toggler order-2 text-dark" type="button">
                <div class="animated-icon1"><span></span><span></span><span></span></div>
            </button>
            <div class="collapse navbar-collapse navbar-collapse-light ml-0 ml-lg-2 py-5 px-4 p-lg-0 mt-5 mt-lg-0 d-flex flex-column flex-lg-row flex-xl-row justify-content-lg-end mobileMenu"
                id="navbarSupportedContent">

            </div>
        </div>
    </nav>
</header>